<div class="dynamic-menu">
    {{#menu-button text="Reset" onClick=(action "resetAllClicked")}}
    {{/menu-button}}
    
    {{#menu-button text="Dim toggle" onClick=(action "dimAllClicked")}}
    {{/menu-button}}
    
    
</div>
