<div class="dynamic-menu">
    {{#menu-button text="Clear all" onClick=(action "clearAllClicked")}}
    {{/menu-button}}
    
    {{#menu-button text="Dim toggle" onClick=(action "dimAllClicked")}}
    {{/menu-button}}
    
    
</div>
