<div class="dynamic-menu">
    {{#menu-button text="Reset" onClick=(action onResetAll)}}
    {{/menu-button}}

    {{#menu-button text="Dim toggle" onClick=(action onDimAllNotSelected)}}
    {{/menu-button}}
</div>
