<div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
    <input value={{inputValue}} type="text" class="filter-input form-control"/>
</div>