<div class="log-line">
   {{#mark-button isMarked=isMarked model=logEntry onMark=(action "logLineMarkButtonClicked")}}
   {{/mark-button}}
    <div class="log-entry">
        <span class="timestamp">
            <span class="bracket">[</span>
          {{logEntry.timestamp}}
            <span class="bracket">]</span>
        </span>
        {{logEntry.verboseMessage}}
    </div>
</div>