<div class="log-view-titlebar" data-spy="affix">
    <div class="log-view-title">Source: some random logs</div>
    {{#if atLeastOneMarked}}
        {{#dynamic-menu}} 
        {{/dynamic-menu}}
    {{/if}}
</div>

<div class="log-view">
  {{#each logEntryList as |logEntry|}}
    {{#log-line logEntry=logEntry onMark=(action "lineMarked" logEntry) onUnmark=(action "lineUnmarked" logEntry)}}
    {{/log-line}}
  {{else}}
      <div class="placeholder-message">Nothing to see here...</div>
  {{/each}}
</div>