.slog-navbar {
    background-color: #779F9F !important;
    border-radius:0px !important;
    border-color:#779F9F !important;
    min-height:40px !important;
    height:20px !important;
    margin-bottom:0px !important;
}

.slog-navbar li a {
    color:white !important;
    padding-top:10px !important;
}

.slog-brand {
    color:white !important;
    padding:9px !important;
}

.log-entry {
    vertical-align: middle;
    font-size:16px;
    color:#779F9F;
    margin:2px;
    display:inline-block;
}

.bracket {
    font-weight: bold;
    font-size:20px;
    padding-left:2px;
    padding-right: 2px;
    color:#779F9F;
}

.timestamp {
    color:#B34F4F !important;
    margin-left:5px;
    font-weight: bold;
}

.monitor-area {
    background-color:#1D1D1D;
}

.log-view {
    padding:10px 10px 10px 10px;
}

.log-view-titlebar {
    padding:10px 10px 10px 10px;
    background-color: #B34F4F;
    z-index:1000;
}

.log-view-titlebar.affix {
    width:100%;
    padding:5px;
    top:0;
}

.log-view-title {
    font-size:16px;
    color:white;
    font-weight: bold;
}

.log-view-title.left {
    text-align:left;
}

.log-view-title.right {
    text-align:right;
}

.dynamic-menu {
    padding:10px;
    background-color:#1D1D1D;
}

@keyframes mark {
    from {background-color: #779F9F;}
    to {background-color:#B34F4F;}
}

@keyframes mark-border-bottom {
    from {border-bottom: 5.77px solid #779F9F;}
    to {border-bottom: 5.77px solid #B34F4F;}
}

@keyframes mark-border-top {
    from {border-top: 5.77px solid #779F9F;}
    to {border-top: 5.77px solid #B34F4F;}
}


.hexagon {
  vertical-align: middle;
  position: relative;
  width: 20px; 
  height: 11.55px;
  background-color: #779F9F;
  margin: 5.77px 0;
  display:inline-block;
  top:1px;
  
}

.hexagon.marked {
    background-color:#B34F4F;
    animation-name:mark;
    animation-duration:0.5s;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 5.77px solid #779F9F;
}

.hexagon.marked:before {
    border-bottom: 5.77px solid #B34F4F;
    animation-name:mark-border-bottom;
    animation-duration:0.5s;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 5.77px solid #779F9F
}

.hexagon.marked:after {
    border-top: 5.77px solid #B34F4F;
    animation-name:mark-border-top;
    animation-duration:0.5s;
}