.slog-navbar {
    background-color: $color-main !important;
    border-radius:0px !important;
    border-color:$color-main !important;
    min-height:40px !important;
    height:20px !important;
    margin-bottom:0px !important;
}

.slog-navbar li a {
    color:white !important;
    padding-top:10px !important;
}

.slog-brand {
    color:white !important;
    padding:9px !important;
}