$color-main:#779F9F;
$color-highlight:#B34F4F;
$color-text-background:#1D1D1D;
$color-text-marked:#262626;
$color-background-marked:#262626;
$color-main-dimmed:#193D3D;
$color-highlight-dimmed:#9F7575;