.log-entry {
    vertical-align: middle;
    font-size:16px;
    color:$color-main;
    margin:2px;
    display:inline-block;
    padding:2px;
}

.log-entry.marked {
    background-color:$color-background-marked;
}

.log-entry.dimmed {
    color:$color-main-dimmed;
}

.bracket {
    font-weight: bold;
    font-size:20px;
    padding-left:2px;
    padding-right: 2px;
    color:$color-main;
}

.log-entry.dimmed > .timestamp > .bracket {
    color:$color-main-dimmed;   
}

.timestamp {
    color:$color-highlight;
    margin-left:5px;
    font-weight: bold;
}

.log-entry.marked > .timestamp {
    background-color:$color-background-marked;
}
.log-entry.dimmed > .timestamp {
    color:$color-highlight-dimmed;
}

.monitor-area {
    background-color:$color-text-background;
}

.log-view {
    padding:10px 10px 10px 10px;
}

.log-view-titlebar {
    padding:10px 10px 10px 10px;
    background-color: $color-highlight;
    z-index:1000;
}

.log-view-titlebar.affix {
    width:100%;
    padding:5px;
    top:0;
}

.log-view-title {
    font-size:16px;
    color:white;
    font-weight: bold;
}

.log-view-title.left {
    text-align:left;
}

.log-view-title.right {
    text-align:right;
}