

<div class="log-view-titlebar" data-spy="affix" data-offset-top="60">
    <div class="log-view-title">
        <span>Source: some random logs</span>
        <div class="pull-right">
        {{#if menuShouldShow}}
            {{#dynamic-menu onResetAll=(action "resetAllLogLines") onDimAllNotSelected=(action "dimAllNotSelectedLogLines") }}
            {{/dynamic-menu}}
        {{/if}}
        </div>
    </div>

</div>
<div class="search-container">
    {{#filter-input inputValue=filterValue}}{{/filter-input}}
</div>



<div class="log-view">
  {{#each filteredLogs as |logEntry|}}
        {{#log-line logEntry=logEntry onMark=(action "lineMarked" logEntry) onUnmark=(action "lineUnmarked" logEntry)}}
        {{/log-line}}
  {{else}}
      <div class="placeholder-message">Nothing to see here...</div>
  {{/each}}
</div>